build/
*.gch
autom4te.cache/
.*.swp
*.o
*.d
.gdb_history
.#*
*~
config.h
config.log
config.status
customext.mk
disasm.mk
fdt.mk
fesvr.mk
Makefile
riscv-disasm.pc
riscv-fesvr.pc
riscv-riscv.pc
riscv.mk
softfloat.mk
spike_dasm.mk
spike_main.mk
